.Home{
    display: flex;
    flex-direction: column;
    justify-content: center;
   .yemekler{
    // width: 1200px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
   }
}
